<div class="container card-container">
    <div class="row">
        <div class="col s12 m7">
            <div class="card z-depth-4">
                <div class="card-image">
                    <img src="./images/friends.jpg">
                    <span class="card-title">Welcome to Friend Finder</span>
                </div>
                <div class="card-content">
                    <p>Friend Finder is a full-stack web-app that will compare your survey results with those of 200 users and
                        return the name and profile pic of the people who match your responses most closely!</p>
                </div>
                <div class="card-action">
                    <a href="/survey">Take the survey!</a>
                </div>
            </div>
        </div>
    </div>
</div>