<div class="container card-container z-depth-4">
    <div class="row valign-wrapper">
        <div class="col s12">
            <div class="card  large">
                <div class="card-image">
                    <img src="./images/friends.jpg">
                    <span class="card-title yellow-text text-lighten-5"><h4>Welcome to Friend Finder</h4></span>
                </div>
                <div class="card-content">
                    <p>Friend Finder is a full-stack web-app that will compare your survey results with those of 200 users and
                        return the name and profile pic of the people who match your responses most closely!</p>
                </div>
                <div class="card-action">
                    <a href="/survey">Take the survey!</a>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- FOOTER SECTION --}}
<footer class="page-footer grey darken-2 grey-text text-lighten-5">
    <div class="container">
        <div class="row">
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li>
                        <a href="https://github.com/loftusjl" target="_blank" class="tooltipped grey-text text-lighten-5" data-position="top" data-tooltip="GitHub">
                            <i class="fab fa-lg fa-github-square fa-2x left"></i> GitHub
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/jesse-loftus-861aaa1b/" target="_blank" class="tooltipped grey-text text-lighten-5"
                            data-position="top" data-tooltip="Linkedin">
                            <i class="fab fa-lg fa-linkedin fa-2x left"></i>Linkedin
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/JLLoft" target="_blank" class="tooltipped grey-text text-lighten-5" data-position="top" data-tooltip="Twitter">
                            <i class="fab fa-lg fa-twitter-square fa-2x left"></i>Twitter
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2018 Copyright Jesse Loftus
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>