.questions {
    display:flex;
}
nav {
    z-index: 1;
}
html, body{
    height: 100%;
  }
  body { 
              background-image: url('../images/friends02.jpg') ;
              background-position: center center;
              background-repeat:  no-repeat;
              background-attachment: fixed;
              background-size:  cover;
              background-color: #999;
              display: flex;
              min-height: 100vh;
              flex-direction: column;
  }
  main {
    flex: 1 0 auto;
  }
     
.answer {
    flex: 1;
}
.container {
    margin: auto;
    background-color: rgba(153, 153, 153, 0.533);
}
.card-container {
    margin-top: 15px;
    padding: 15px;
}
.card-title {
    padding: 15px;
}
.sidenav-wrapper {
        padding-left: 300px;
}
#mobile-menu {
    background-color: rgba(43, 55, 55, 0.603);
    padding: 15px;
}
#mobile-menu > li {
margin: 5px auto;
}
.offscreen {
    position: absolute;
    left: -999em;
}
.footer {
    padding: 15px;
}
.footer > a {
    margin: 0 3px;
}